<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFLResultPresenter" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:9414/hehehe/FLResultPresentService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFLResultPresenter"
                contract="FLResultPresentationServiceReference.IFLResultPresenter"
                name="WSHttpBinding_IFLResultPresenter">
                <identity>
                    <userPrincipalName value="wangnan-PC\wangnan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>