<setting>
  <fl_method>
    <string>op1</string>
  </fl_method>
  <show_background_color>
    <boolean>false</boolean>
  </show_background_color>
  <function_mode>
    <string>cov</string>
  </function_mode>
  <granularity_mode>
    <string>Module</string>
  </granularity_mode>
  <filter>
    <ProgramEntityFilter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <RawFilters>+[*]*</RawFilters>
    </ProgramEntityFilter>
  </filter>
  <collect_coverage>
    <boolean>false</boolean>
  </collect_coverage>
</setting>